@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/coolvetica/CoolveticaRg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
