@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/coolvetica/CoolveticaRg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
